{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Fawaz Building Materials</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images1/favicon.png' %}">
    <!-- Pignose Calender -->
    <link href="{% static 'plugins1/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'plugins1/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins1/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">

    <link href="{% static 'plugins1/tables/css/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="{% static 'css1/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>

   
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>


    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index-2.html">
                    <b><h4 style="color: white; margin-left: 20px;">Fawaz Building </h4> </b>
                 
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                
                <div class="header-right">
                    <ul class="clearfix">
                        
                       
                        <li class="icons dropdown">
                            <span class="username" style="margin-right: 10px;" >{{user}}</span>
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
 
                                        <hr class="my-2">
                                        
                                        <li><a href="{% url 'user_logout'%}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu" style="font-size: 18px;">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void(0);" onclick="toggleDropdown(this)" aria-expanded="false">
                            <i class="menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'dashboard' %}">dashboard</a></li>
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void(0);" onclick="toggleDropdown(this)" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Category</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'category' %}">Product Category</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void(0);" onclick="toggleDropdown(this)" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Products</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'product' %}">Products</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void(0);" onclick="toggleDropdown(this)" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Customer</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'customer' %}">All Customers</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void(0);" onclick="toggleDropdown(this)" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Suppliers</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'supplier' %}">All Suppliers</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void(0);" onclick="toggleDropdown(this)" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Purchase</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'purchase' %}">Purchase Order</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void(0);" onclick="toggleDropdown(this)" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Sales</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'add_to_temp_cart' %}">Sales Order</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void(0);" onclick="toggleDropdown(this)" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Cart History</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'final_cart' %}">Cart History</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void(0);" onclick="toggleDropdown(this)" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Report</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="table-datatable.html">Data Table</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        <script>
        function toggleDropdown(element) {
            const allDropdowns = document.querySelectorAll('.metismenu > li > ul');
            const isExpanded = element.getAttribute('aria-expanded') === 'true';
            
            // Close all dropdowns
            allDropdowns.forEach(dropdown => {
                dropdown.style.display = 'none';
                dropdown.previousElementSibling.setAttribute('aria-expanded', 'false');
            });
        
            // Toggle the clicked dropdown
            if (!isExpanded) {
                const dropdown = element.nextElementSibling;
                dropdown.style.display = 'block';
                element.setAttribute('aria-expanded', 'true');
            }
        }
        </script>
        

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3>Purchase Order</h3>
                                <div class="container">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-12" style="margin-left: 950px;">
                                            <a href="" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter">
                                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                <span class="ms-1">Add Purchase Order</span> 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible fade show w-50" role="alert" 
                                        style="position: relative; margin-left: 250px;">
                                        <strong style="margin-left: 140px;">{{ message }}</strong> 
                                        
                                    </div>
                                        
                                    {% endfor %}
                                </ul>
                            {% endif %}
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th style="font-size: 16px; color:black; text-align: center;">No</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Supplier</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Date Order</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Delivery Date</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Product Name</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Price</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Qty</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Cost</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Status</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for purchase in purchases %}
                                            <tr>
                                                <td style="font-size: 16px; color:black">{{forloop.counter}}</td>
                                                <td style="font-size: 16px; color:black">
                                                    {{purchase.product_supplier}}
                                                </td>
                                                <td style="font-size: 16px; color:black">{{purchase.date_order|date:"F j, Y"}}</td>
                                                <td style="font-size: 16px; color:black">{{purchase.delivery_date|date:"F j, Y"}}</td>
                                                <td style="font-size: 16px; color:black">{{purchase.product_name}}</td>
                                                <td style="font-size: 16px; color:black">Nle{{purchase.product_price}}</td>
                                                <td style="font-size: 16px; color:black">{{purchase.quantity}}</td>
                                                <td style="font-size: 16px; color:black">Nle{{purchase.product_cost}}</td>
                                                <td style="font-size: 16px; color:black">{{purchase.status}}</td> 
                                                <td style="text-align: center;">
                                                    <a href="{% url 'edit_purchase' purchase.id %}" >
                                                        <i class="fas fa-pen" style="color: rgb(5, 94, 43); margin-right: 5px;"></i>
                                                      </a>

                                                      <a href="{% url 'delete_purchase' purchase.id %}" >
                                                        <i class="fas fa-trash" style="color: rgb(182, 10, 10);"></i>
                                                      </a>

                                                      <!-- <a href="" >
                                                        <i class="fas fa-eye" style="color: rgb(12, 12, 125); margin-left: 5px;"></i>
                                                      </a> -->
                                                </td>
                                              
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th style="font-size: 16px; color:black; text-align: center;">No</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Supplier</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Date Order</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Delivery Date</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Product Name</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Price</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Qty</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Cost</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Status</th>
                                                <th style="font-size: 16px; color:black; text-align: center;">Action</th>
                                              
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                  


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Purchase Order</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    <div class="row">

                        <div class="col-md-6">
                            <!-- Dropdown for selecting product category -->
                            <select class="form-control shadow-none p-2" name="supplier" required>
                                <option value="">Select supplier</option>
                                {% for supplier in suppliers %}
                                    <option value="{{ supplier.id }}">{{ supplier.supplier_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-6">
                            <!-- File input for product image -->
                            <input class="form-control shadow-none p-4" name="product_name" type="text" placeholder="Product name">
                        </div>

                    </div>
            
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <!-- Input for product name -->
                             <small>Order Date</small>
                            <input type="date" class="form-control shadow-none p-4" name="date_order" placeholder="Date" required>
                        </div>
            
                        <div class="col-md-6">
                            <!-- Input for stock number -->
                            <small>Delivery Date</small>
                            <input type="date" class="form-control shadow-none p-4" name="delivery_date" placeholder="Date" required>
                        </div>
                    </div>
            
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <!-- Input for buying price -->
                            <input type="number" class="form-control shadow-none p-4" name="product_price" placeholder="(Nle Unit Price: 0.00)" required>
                        </div>
            
                        <div class="col-md-6">
                            <!-- Input for selling price -->
                            <input type="number" class="form-control shadow-none p-4" name="quantity" placeholder="Quantity" required>
                        </div>
                    </div>
            
                    <div class="row mt-3">

                        <div class="col-md-6 offset-md-3">
                            <!-- Dropdown for selecting product category -->
                            <select class="form-control shadow-none p-2" name="status" required>
                                <option value="">Select Status</option>
                                <option value="Pending" {% if purchase.status == "Pending" %}selected{% endif %}>Pending</option>
                                <option value="Received" {% if purchase.status == "Received" %}selected{% endif %}>Received</option>
                            </select>
                        </div>
            
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6 offset-md-3">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-secondary p-3 w-100 text-white">
                                <i class="fas fa-database"></i> Add Purchase Order
                            </button>
                        </div>
                    </div>
                </div>
            </form>
                  
              

            
            
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
                </div>
            </div>
           
        </div>





        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by Bigger 2024</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'plugins1/common/common.min.js' %}"></script>
    <script src="{% static 'js1/custom.min.js' %}"></script>
    <script src="{% static 'js1/settings.js' %}"></script>
    <script src="{% static 'js1/gleek.js' %}"></script>
    <script src="{% static 'js1/styleSwitcher.js' %}"></script>
    <!-- Chartjs -->
    <script src="{% static 'plugins1/chart.js/Chart.bundle.min.js' %}"></script>
    <!-- Circle progress -->
    <script src="{% static 'plugins1/circle-progress/circle-progress.min.js' %}"></script>
    <!-- Datamap -->
    <script src="{% static 'plugins1/d3v3/index.js' %}"></script>
    <script src="{% static 'plugins1/topojson/topojson.min.js' %}"></script>
    <script src="{% static 'plugins1/datamaps/datamaps.world.min.js' %}"></script>
    <!-- Morrisjs -->
    <script src="{% static 'plugins1/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'plugins1/morris/morris.min.js' %}"></script>
    <!-- Pignose Calender -->
    <script src="{% static 'plugins1/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins1/pg-calendar/js/pignose.calendar.min.js' %}"></script>
    <!-- ChartistJS -->
    <script src="{% static 'plugins1/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'plugins1/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'js1/dashboard/dashboard-1.js' %}"></script>

    <script src="{% static 'plugins1/tables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins1/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins1/tables/js/datatable-init/datatable-basic.min.js' %}"></script>

    <script>
        setTimeout(function() {
            const alert = document.querySelector('.alert');
            if (alert) {
                alert.classList.remove('show');
                alert.classList.add('fade');
                setTimeout(function() {
                    alert.remove();
                }, 150); // Adjust this timing as needed
            }
        }, 2000); // Time in milliseconds before the alert disappears (e.g., 3000ms = 3 seconds)
    </script>
</body>


</html>